<!--header start-->
    <header id="header" class="tt-nav nav-border-bottom">
    <!-- <header id="header" class="tt-nav transparent-header nav-border-bottom"> -->

        <div class="header-sticky light-header">

            <div class="container">

                <div id="materialize-menu" class="menuzord">
                  <!--logo start-->
                  <a href="https://somiibo.com/" class="logo-brand">
                      <img class="logo-dark" src="https://somiibo.com/assets/img/somiibo-logo-bar.png" alt="" />
                      <!-- <img class="logo-light" src="https://somiibo.com/assets/img/somiibo-logo-natural.png" alt="" /> -->
                  </a>
                  <!--logo end-->

                  <!-- menu start-->
                  <ul id="navbar-load" class="menuzord-menu pull-right">
                  <!-- <ul id="navbar-load" class="menuzord-menu pull-right light"> -->
                    <li class="active"><a href="https://somiibo.com/">Home</a>
                    </li>
                    <li class=""><a href="https://somiibo.com/download">Download</a>
                    </li>
                    <li><a href="javascript:void(0)">Platforms</a>
                        <ul class="dropdown">
                            <li><a href="https://somiibo.com/platforms">View All</a>
                            </li>
                            <li><a href="https://somiibo.com/platforms/soundcloud">SoundCloud</a>
                            </li>
                            <li><a href="https://somiibo.com/platforms/instagram">Instagram</a>
                            </li>
                            <li><a href="https://somiibo.com/platforms/twitter">Twitter</a>
                            </li>
                            <li><a href="#">Social Exchange Sites</a>
                              <ul class="dropdown">
                                <li><a href="https://somiibo.com/platforms/youlikehits">You Like Hits</a></li>
                                <!-- <li><a href="https://somiibo.com/platforms/youlikehits1">You Like Hits</a></li> -->
                                <!-- <li><a href="https://somiibo.com/platforms/youlikehits2">You Like Hits</a></li> -->
                                <!-- <li><a href="https://somiibo.com/platforms/youlikehits3">You Like Hits</a></li> -->
                                <!-- <li><a href="https://somiibo.com/platforms/youlikehits4">You Like Hits</a></li> -->
                                <!-- <li><a href="https://somiibo.com/platforms/youlikehits5">You Like Hits</a></li> -->
                                <!-- <li><a href="https://somiibo.com/platforms/youlikehits6">You Like Hits</a></li> -->
                              </ul>
                            </li>
                        </ul>

                    </li>
                    <li><a href="https://somiibo.com/blog">Blog</a>
                    </li>
                    <li><a href="https://somiibo.com/support">Support</a>
                    </li>
                    <!-- <li><a href="javascript:void(0)">Support</a>
                        <ul class="dropdown">
                            <li><a href="https://somiibo.com/tutorial">Getting Started</a>
                            </li>
                            <li><a href="https://somiibo.com/support">Support</a>
                            </li>
                        </ul>
                    </li> -->
                    <li id="btn-login"><a href="https://somiibo.com/signin">Login</a>
                    </li>
                    <li id="btn-signup"><a href="https://somiibo.com/signup">Sign up</a>
                    </li>

                    <li id="btn-profile">
                        <a href="javascript:void(0)" id="btn-profile-name" class="btn-outline-primary waves-effect"></a>
                        <ul class="dropdown">
                            <li><a href="https://somiibo.com/profile" >Profile</a>
                            </li>
                            <li><a href="#" onclick="firebase.auth().signOut();">Logout</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </header>
    <!--header end-->
