<div class="tt-sidebar-wrapper" role="complementary">
  <!-- <div class="widget widget_search">
    <form role="search" method="get" class="search-form">
      <input type="text" class="form-control" value="" name="s" id="s" placeholder="Write any keywords">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div> -->


  <div class="widget widget_tt_popular_post">
    <div class="tt-popular-post border-bottom-tab">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs hidden-xs">
            <li class="active">
                <a href="#tt-popular-post-tab1" data-toggle="tab" aria-expanded="true">Latest</a>
            </li>
            <li class="">
                <a href="#tt-popular-post-tab2" data-toggle="tab" aria-expanded="false">Popular</a>
            </li>
        </ul><div class="panel-group visible-xs" id="undefined-accordion"></div>

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- latest post tab -->
            <div id="tt-popular-post-tab1" class="tab-pane fade active in">

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-3.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">At the end of the day, or at the start of the day?</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-4.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">What never to tweet about</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-5.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">Men have become the tools of their tools.</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-1.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">Master the psychology of web design</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-2.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">CTC to showcase technology solutions at Sea A......</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

            </div>

            <!-- popular post tab-->
            <div id="tt-popular-post-tab2" class="tab-pane fade">

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-1.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">Master the psychology of web design</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-2.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">CTC to showcase technology solutions at Sea A......</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-3.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">At the end of the day, or at the start of the day?</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-4.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">What never to tweet about</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

              <div class="media">
                <a class="media-left" href="#">
                  <img src="https://somiibo.com/assets/img/blog/recent-thumb-5.jpg" alt="">
                </a>

                <div class="media-body">
                  <h4><a href="#">Men have become the tools of their tools.</a></h4>
                </div> <!-- /.media-body -->
              </div> <!-- /.media -->

            </div>
        </div><!-- /.tab-content -->
    </div><!-- /.tt-popular-post -->
  </div><!-- /.widget_tt_popular_post -->


  <div class="widget widget_categories">
    <h3 class="widget-title">Categories</h3>
    <ul>
      <li><a href="#">Technology</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#">Video</a></li>
      <li><a href="#">Audio</a></li>
      <li><a href="#">Design</a></li>
      <li><a href="#">Material</a></li>
    </ul>
  </div><!-- /.widget_categories -->

  <div class="widget widget_categories">

  <a class="twitter-timeline" href="https://twitter.com/somiibo">Tweets by Somiibo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>

</div>
